<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator Investasi</title>
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link href="assets/slider/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/slider/css/bootstrap-icons.css" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/assets/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/buttons.dataTables.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/style.css}">
	
	<script th:src="@{/assets/js_table/jquery.min.js}"></script>
	<script th:src="@{/assets/js_table/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js_table/jquery.dataTables.min.js}"></script>
	<script th:src="@{/assets/js_table/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/assets/js_table/dataTables.buttons.min.js}"></script>
	<script th:src="@{/assets/js_table/buttons.print.min.js}"></script>
	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body style="background-color: #eee">
	<div class="row gutters">
    	<div class="">
      		<div class="">
        		<a th:href="@{'/'}" class="btn text-black" style="text-decoration:none">
        			<i class="fa fa-arrow-left"></i>
        		</a>
      		</div>
    	</div>
  	</div>
  <div class="investplan_banner"></div>
  <div class="container-fluid">
    <div class="">
    	
          
      <form th:action="@{/calculator/save-calculation}" th:object="${calculatorForm}" method="post" id="forms" onsubmit="test()">
        <section id="stats-subtitle">
          <div class="row">
            <div class="col-12 mt-3 mb-1 text-center text-black">
              <h2 class="text-uppercase">Kalkulator Investasi</h2>
              <p>Mulai Perhitungkan, Cicil Berinvestasi, dan Nikmati Hasilnya Kelak!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 mx-auto">
              <div class="card overflow-hidden">
                <div class="card-content">
                  <div class="card-body cleartfix">
                    <div class="media align-items-stretch">
                      <div class="align-self-center">
                        <i class="icon-calculator primary font-large-2 mr-2"></i>
                      </div>
                      <div class="media-body">
                        <h4>Output Perhitungan</h4>
                        <select class="form-select" style="height: calc(2.75rem + 2px)" id="jenisPerhitungan" th:field="${calculatorForm.jenisPerhitungan}">
                          <option value="00"></option>
                          <option value="10_COIN">Koin yang cocok untuk kamu</option>
                          <option value="20_TOTAL">Total investasi kamu di hari tua</option>
                          <option value="30_COMP">Compounding Interest</option>
                        </select>
                      </div>
                      <div class="align-self-center">
                        <h1></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        <div class="row">
          <div class="col-xl-6" id="investasiAwalBox">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-pin purple font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Investasi Awal</h4>
                      <div>
                        <input type="text" class="form-control numeric" th:field="${calculatorForm.investasiAwal}" id="investasiAwal" maxlength="15">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6" id="waktuBox">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-hourglass success font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Waktu Investasi (Tahun)</h4>
                      <div>
                        <input type="number" class="form-control" id="waktu" th:field="${calculatorForm.waktu}" maxlength="3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-xl-6" id="koinBox">
              <div class="card">
                <div class="card-content">
                  <div class="card-body cleartfix">
                    <div class="media align-items-stretch">
                      <div class="align-self-center">
                        <i class="icon-wallet danger font-large-2 mr-2"></i>
                      </div>
                      <div class="media-body">
                        <h4>Koin Pilihan</h4>
                        <select class="form-select" style="height: calc(2.75rem + 2px)" id="koin" th:field="${calculatorForm.koin}"
                          disabled="disabled">
                          <option value=""></option>
                          <option th:each="list : ${listCoin}" th:value="${list.code}" th:text="${list.desc}"></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
            <div class="col-xl-6" id="totalInvestasiBox">
              <div class="card">
                <div class="card-content">
                  <div class="card-body cleartfix">
                    <div class="media align-items-stretch">
                      <div class="align-self-center">
                        <i class="icon-printer warning font-large-2 mr-2"></i>
                      </div>
                      <div class="media-body">
                        <h4>Total Investasi yang Diinginkan</h4>
                        <input type="text" class="form-control numeric" id="totalInvestasi"
                          th:field="${calculatorForm.totalInvestasi}" maxlength="15">
                      </div>
                      <div class="align-self-center">
                        <h1></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xl-6" id="perBulanBox">
              <div class="card">
                <div class="card-content">
                  <div class="card-body cleartfix">
                    <div class="media align-items-stretch">
                      <div class="align-self-center">
                        <i class="icon-credit-card yellow font-large-2 mr-2"></i>
                      </div>
                      <div class="media-body">
                        <h4>Jumlah Investasi Per Bulan</h4>
                        <input type="text" class="form-control numeric" id="perBulan" th:field="${calculatorForm.perBulan}" maxlength="15">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
          
          
          
        </section>
        
        <div class="row gutters">
          <div class="col-xl-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-calculate">Hitung</button>
            </div>
          </div>
        </div>

        <div class="row result my-2">
          <div class="col-xl-7 mx-auto">
            <div class="card overflow-hidden">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-calculator primary font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Hasil</h4>
                      <textarea rows="4" class="form-control" id="score" readonly="readonly" th:field="${calculatorForm.results}" style="white-space: pre-wrap;"></textarea>
                      <button type="submit" class="btn btn-primary btn-save float-right mt-2">Save Result</button>
                    </div>
                    <div class="align-self-center">
                      <h1></h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-primary">
                <button type="button" class="btn btn-primary btn-history">Riwayat</button>
              </div>
            </div>
          </div>
          <br><br>
          
          
          <table id="table-history" class="table paging table-bordered table-hover bg-white mt-2 mydatatable">
            <caption>Perencanaan kamu sebelumnya</caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center align-middle"> Tanggal Dibuat </th>
                <th scope="col" class="text-center align-middle"> Jenis Perhitungan </th>
                <th scope="col" class="text-center align-middle"> Investasi Awal </th>
                <th scope="col" class="text-center align-middle"> Waktu Investasi </th>
                <th scope="col" class="text-center align-middle"> Total Investasi </th>
                <th scope="col" class="text-center align-middle"> Koin </th>
                <th scope="col" class="text-center align-middle"> Hasil </th>
                <th scope="col" class="text-center align-middle"> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${history.empty}">
                <td colspan="7" class="text-center"> No Data Available </td>
              </tr>
              <tr th:each="list : ${history}">
                <td>
                  <span th:text="${list.created}"></span>
                </td>
                <td>
                  <span th:text="${list.jenis}"></span>
                </td>
                <td class="text-center align-middle">
                  <span th:text="${list.currentbalance}"></span>
                </td>
                <td class="text-center align-middle">
                  <span th:text="${list.duration}"></span>
                </td>
                <td class="text-center align-middle">
                  <span th:text="${list.target}"></span>
                </td>
                <td class="text-center align-middle">
                  <span th:text="${list.coincode}"></span>
                </td>
                <td>
                  <span th:text="${list.result}"></span>
                </td>
                <td class="text-center align-middle">
                  <a th:href="@{ '/calculator/delete/' + ${list.planningid} }"><i class="fa fa-trash text-danger"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    </form>
  </div>
  <div th:replace="fragments/logout :: logout">&nbsp;</div>
  <script th:if="${#request.getParameter('error') == 'true'}">
      $(document).ready(function(){
          $('#loginModal').modal('show');
      });
  </script>
					<!-- JAVASCRIPT CODE -->
  <script type="text/javascript">
		$(document).ready(function () {
        var jenisPerhitungan;
        var totalInvestasi;
        var koin;
        var waktu;
        var perBulan;
        var hasil;
        $('#jenisPerhitungan').val("10_COIN");
        $("#koin").attr("disabled", "disabled"); 
        $("#investasiAwal").attr("disabled", "disabled"); 
        $("#totalInvestasi").removeAttr("disabled");
        $("#perBulan").removeAttr("disabled");
        $("#waktu").removeAttr("disabled");
        $("#koinBox,#investasiAwalBox").hide();

        $('#waktu').val('');
        $('#table-history').hide();

 		    $('#table-history_wrapper').hide();
        $('.result').hide();
     
       
        initForm();
      });
      
      function test(){
        alert(calculateForm);
      }

      function initForm() {
        $(".numeric").on("keyup", function(event) {                   
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString(); 
            if (selection !== '') {
                return; 
            }       
            // When the arrow keys are pressed, abort.
            if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
                return; 
            }       
            var $this = $(this);            
            // Get the value.
            var input = $this.val();            
            input = input.replace(/[\D\s\._\-]+/g, ""); 
            input = input?parseInt(input, 10):0; 
            $this.val(function () {
                return (input === 0)?"":input.toLocaleString("en-US"); 
            }); 
        });

        $('.btn-history').click(function(){
          $('#table-history').show();
          $('.mydatatable').show();
          $('#table-history_wrapper').show();
        });

        $('.btn-calculate').click(function(){
            jenisPerhitungan = $('#jenisPerhitungan').val();
            totalInvestasi = $('#totalInvestasi').val().replaceAll(',',''); //karena separator ikut masuk maka harus di replace
            koin = $('#koin').val();
            console.log(totalInvestasi);
            console.log(koin);
            waktu = $('#waktu').val();
            perBulan = $('#perBulan').val().replaceAll(',','');
            investasiAwal = $('#investasiAwal').val().replaceAll(',','');
            hasil = getResult(jenisPerhitungan,totalInvestasi,koin,waktu,perBulan, investasiAwal);
            if(hasil == null || '' == hasil) $('.result').hide();
            else {
                $('#score').val(hasil);
                $('.result').show();
            }
        });

        $("#jenisPerhitungan").on('change', function(){
          var option = $("#jenisPerhitungan").val();
            if( option == '10_COIN'){
              $("#totalInvestasiBox,#koinBox,#perBulanBox,#waktuBox,#investasiAwalBox").show();
              $("#koin,#investasiAwal").attr("disabled", "disabled"); 
              $("#koinBox,#investasiAwalBox").hide();
              // $("").attr("disabled", "disabled"); 
              $("#totalInvestasi,#perBulan,#waktu").removeAttr("disabled");
              // $("").removeAttr("disabled");
              // $("").removeAttr("disabled");
              $("#totalInvestasi,#koin,#perBulan,#waktu,#investasiAwal").val('');
              
            }
            else if(option == '20_TOTAL'){
              $("#totalInvestasiBox,#koinBox,#perBulanBox,#waktuBox,#investasiAwalBox").show();
              $("#totalInvestasi").attr("disabled", "disabled");
              $("#totalInvestasiBox").hide();
              $("#koin").removeAttr("disabled");
              $("#perBulan").removeAttr("disabled");
              $("#waktu").removeAttr("disabled");
              $("#investasiAwal").removeAttr("disabled")
              $("#totalInvestasi,#koin,#perBulan,#waktu,#investasiAwal").val('');
            }

            else if(option == '30_COMP'){
              $("#totalInvestasiBox,#koinBox,#perBulanBox,#waktuBox,#investasiAwalBox").show();
              $("#totalInvestasi,#perBulan").attr("disabled", "disabled");
              $("#totalInvestasiBox,#perBulanBox").hide();
              // $("").attr("disabled", "disabled");
              $("#koin").removeAttr("disabled");
              $("#waktu").removeAttr("disabled")
              $("#investasiAwal").removeAttr("disabled")
              $("#totalInvestasi,#koin,#perBulan,#waktu,#investasiAwal").val('');
            }
        });

          
		}

    function getResult(jenisPerhitungan,totalInvestasi,koin,waktu,perBulan, investasiAwal){
        var retval;
        console.log(jenisPerhitungan);
        $.ajax({
            method: 'GET',
            async: false,
            data: {
                'jenisPerhitungan' : jenisPerhitungan,
                'totalInvestasi' : totalInvestasi,
                'koin' : koin,
                'waktu' : waktu,
                'perBulan' : perBulan,
                'investasiAwal' : investasiAwal
            },
            url: 'http://localhost:8080/calculator/calculate-result',
            success: function(data){
                if(data != null || data != ''){
                    retval = data;
                } 
            }
        });
        console.log(retval);
        return retval;
    }
    
	</script>
	
	<script>
		$('.mydatatable').DataTable({
			dom: 'lBfrtip',
			"order": [0,'desc'],
			"lengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ]
		});
	</script>
</body>
</html>