<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/course.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/certificate.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- 
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
 -->
<script	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kelola Kelas</title>
</head>

<style>
.modal-content .modal-header{
	width: 400px;
    height: 50px;
}
.modal-content .modal-body{
	font-size: 20px;
	color: black;
}
</style>

<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div th:replace="fragments/logout :: logout" style="width:300px">&nbsp;</div>

	<div class="modal" id="del-modal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
          <div class="modal-header border-0 pb-0">
            <h4>Hapus Kelas</h4>
            <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
          <div class="modal-body border-0 pb-0">
            <p>Apakah anda yakin untuk menghapus?</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger text-white modal-yes">Iya</a>
            <a class="btn btn-info text-white" data-dismiss="modal">Tidak</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal" id="del-modal-quiz">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
          <div class="modal-header border-0 pb-0">
            <h4>Hapus Kuis</h4>
            <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
          <div class="modal-body border-0 pb-0">
            <p>Apakah anda yakin untuk menghapus?</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger text-white modal-yes-quiz">Iya</a>
            <a class="btn btn-info text-white" data-dismiss="modal">Tidak</a>
          </div>
        </div>
      </div>
    </div>
    
	<section class="probootstrap-section probootstrap-section-colored"
		style="background: #343a40; padding:20px;">
		<div class="container">
			<div class="row">
				<div
					class="col-md-12 text-left section-heading probootstrap-animate">
					<h1>Kelola Kelas dan Kuis</h1>
					<div class="row pl-3">
						<span class="text-center float-right"> 
							<a data-toggle="modal" data-target="#swapModal"
								class="btn text-white btn-order"  
								style="background: #3ec1d5;"> 
								<i class="fa fa-share"></i> Ubah urutan kelas
							</a>
						</span>
					</div>
				</div>
			</div>
			
		</div>
	</section>

	<!-- course and quiz list -->

	<section class="probootstrap-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>Kelas</h2>
					<div class="row" th:each="course : ${listCourse}">
						<div class="probootstrap-service-2 probootstrap-animate"
							style="height: 250px; flex: 1;">
							<div class="image">
								<div class="image-bg fit-in-background">
									<img th:src="@{${course.imageUrl}}" alt="Failed to load , please reload">
								</div>
							</div>
							<div class="text">
								<h3 th:text="${course.courseName}"></h3>
								<p th:text="${course.courseDesc}"></p>
								<a th:href="@{'/pro/course/'+${course.courseId}}"
									class="btn btn-primary"
									style="background: #3ec1d5; border-color: #3ec1d5;">Lihat
								</a>
								<a th:href="@{'/pro/add-activity/'+${course.courseId}}"
									class="btn btn-primary">
									<i class="fa fa-edit"></i>
								</a>
								<a href="#del-modal" th:data-id="${course.courseId}"
								 data-toggle="modal"
									class="btn btn-primary text-white open-del-modal"  
									style="background: #ff606e; border-color: #ff606e;"> 
									<i class="fa fa-trash"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h2>Kuis</h2>
					<div class="row" th:each="quiz,iterator : ${listQuiz}">
						<div class="probootstrap-service-2 probootstrap-animate"
							style="height: 250px; flex: 1;" >
							<div class="image">
								<div class="image-bg fit-in-background">
									<img th:src="@{${quiz.imageUrl}}" alt="Failed to load image, please reload">
								</div>
							</div>
							<div class="text">
								<h3 th:text="${quiz.quizName}"></h3>
								<p th:text="${quiz.quizDesc}"></p>
								<a th:href="@{'/pro/course/quiz/'+${quiz.quizId} }"
									class="btn btn-primary"
									style="background: #3ec1d5; border-color: #3ec1d5;">Lihat
								</a> 
								<a th:href="@{'/pro/add-question/'+${quiz.quizId}}"
									class="btn btn-primary">
									<i class="fa fa-edit"></i>
								</a>
								<a href="#del-modal-quiz" th:data-id="${quiz.quizId}"
								data-toggle="modal"
									class="btn btn-primary text-white open-del-modal-quiz"  
									style="background: #ff606e; border-color: #ff606e;"> 
									<i class="fa fa-trash"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <!-- MODAL SWAP -- START-->
	<div class="modal" id="swapModal">
		<div class="modal-dialog modal-dialog-centered" style="min-width: 700px;">
			<div class="modal-content border-0" style="padding: 20px;">
				<div class="modal-header border-0 pb-0">
					<button type="button" class="close" data-dismiss="modal">x</button>
				</div>
				<div class="modal-body border-0 pb-0">
				<div class="row">
					<div class="col-md-12 col-12">
						<div class="alert alert-danger" id="swapAlert" style="display: none;">
						</div>
					</div>
				</div>
				<caption>Ubah urutan kelas</caption>
				<table id="table-question" class="table paging table-striped table-bordered table-hover mt-2">
					<thead class="thead-dark">
						<tr>
							<th scope="col" class="text-center align-middle"> Nama kelas</th>
							<th scope="col" class="text-center align-middle"> Urutan </th>
						</tr>
					</thead>
					<tbody>
			
						<tr th:if="${listCourse.empty}">
							<td colspan="2" class="text-center"> Data tidak ditemukan. </td>
						</tr>
						<tr th:each="list : ${listCourse}">
							<td>
								<span th:text="${list.courseName}"></span>
							</td>
							<td>
								<select class="optionOrder" required>
									<option th:each="order : ${listOrder}" th:value="${order}" th:text="${order}" th:selected="${order==list.courseOrder}"></option>
								</select>
							</td>
							<input type="hidden" class="courseId" th:value="${list.courseId}">
						</tr>
					</tbody>
				</table>
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="text-center">
							<a type="button" class="btn btn-primary btn-save-order" >Simpan Urutan Kelas</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- MODAL SWAP -- END-->

	

</body>
<script>

	var object = [];
	var l = $('.optionOrder').length;


	let finalArray = []
	let arr = []
	let unique;
	$('.optionOrder').change(function(){
		arr = []
		for (i = 0; i < l; i++) { 
			arr.push($('.optionOrder').eq(i).val());
		}
		unique = checkIfArrayIsUnique(arr);
		console.log(arr);
		console.log(unique);

		finalArray = []
		for (i = 0; i < l; i++) { 
			finalArray.push({
				order: $('.optionOrder').eq(i).val(),
				courseId: $('.courseId').eq(i).val()
			})
		}

		if(unique){
			$('#swapAlert').hide();
		}else{
			$('#swapAlert').html('Urutan harus unik!');
			$('#swapAlert').show();
		}
	});

	function checkIfArrayIsUnique(myArray) {
		return myArray.length === new Set(myArray).size;
	}

	$('.btn-save-order').click(function(){
		if(unique){
			let requests = finalArray.map(object => fetch(getContextPath()+`/pro/course/change-order/${object.courseId}/${object.order}`));
			Promise.all(requests).then(
				location.reload()
			);
		}

	});

	function getContextPath() {
		var root = window.location.protocol + "//" + window.location.host;
		return root;
	}
	
	$(document).on("click", ".open-del-modal", function () {
		     var courseId = $(this).data('id');
		     $("#del-modal .modal-yes").attr("href", "/pro/course/delete/" + courseId)
	});
	
	$(document).on("click", ".open-del-modal-quiz", function () {
		     var quizId = $(this).data('id');
		     $("#del-modal-quiz .modal-yes-quiz").attr("href", "/pro/quiz/delete/" + quizId)
		     
	});
	
</script>

</html>