<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<head>
  <!-- <link href="/index/header.html" rel="import" /> -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script> 
    $(function(){ $("head").load("header.html") });
  </script>
	<title>Welcome</title>
</head>
<body>
  <!-- <iframe src="/index/header.htm" frameborder="0"></iframe> -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<i class="fas fa-cloud text-white mr-auto"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/topic/all">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Course</a>
        </li>
      </ul>
      
      <ul class="navbar-nav my-4 my-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/profile" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
          <div class="dropdown-menu" aria-labelledby="dropdown05">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="#">Log Out</a>
          </div>
        </li>
        <li>
        	<i class="fa fa-user text-white nav-item"></i>
        </li>
      </ul>
    </div>
</nav>

<section id="speakers">
     

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="https://blog-media.lifepal.co.id/app/uploads/sites/3/2020/05/02071341/pola-candlestick-768x432.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3 class="mb-4 mt-1"><a href="speaker-details.html">Course</a></h3>
                <p>Dapatkan Kelas Sekarang</p>
                
              </div>
            </div>
          </div>
          
          <div class="row justify-content-center">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="https://blog-media.lifepal.co.id/app/uploads/sites/3/2020/05/02071341/pola-candlestick-768x432.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3 class="mb-4 mt-1"><a href="speaker-details.html">Forum</a></h3>
                <p>Bicarakan Mengenai Kripto di Forum</p>
                
              </div>
            </div>
          </div>
          
           <div class="row justify-content-center">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="https://blog-media.lifepal.co.id/app/uploads/sites/3/2020/05/02071341/pola-candlestick-768x432.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3 class="mb-4 mt-1"><a href="speaker-details.html">Kalkulator</a></h3>
                <p>Hitung Hasil Investasimu Sekarang!</p>
                
              </div>
            </div>
          </div>
          
           
          
      </div>

    </section>


</body>
</html>





