<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    
    <div th:replace="fragments/header :: header">&nbsp;</div>

    <section id="speakers">
      <div class="container-fluid py-5">
        <div class="row justify-content-center">
          <div class="speaker zoom" data-aos="fade-up" data-aos-delay="100">
            <img src="https://blog-media.lifepal.co.id/app/uploads/sites/3/2020/05/02071341/pola-candlestick-768x432.jpg" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3 class="mb-4 mt-1">
                <a href="/course/all">Course</a>
              </h3>
              <p>Dapatkan Kelas Sekarang</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="speaker zoom" data-aos="fade-up" data-aos-delay="100">
            <img src="https://blog-media.lifepal.co.id/app/uploads/sites/3/2020/05/02071341/pola-candlestick-768x432.jpg" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3 class="mb-4 mt-1">
                <a href="/topic/all">Forum</a>
              </h3>
              <p>Bicarakan Mengenai Kripto di Forum</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="speaker zoom" data-aos="fade-up" data-aos-delay="100">
            <img src="https://blog-media.lifepal.co.id/app/uploads/sites/3/2020/05/02071341/pola-candlestick-768x432.jpg" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3 class="mb-4 mt-1">
                <a href="speaker-details.html">Kalkulator</a>
              </h3>
              <p>Hitung Hasil Investasimu Sekarang!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MODAL LOGIN -- START-->
    <div class="modal" id="loginModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-0 pb-0"><h4>Login</h4></div>
          <div class="modal-body">
            <div th:if="${#request.getParameter('error') == 'true'}" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              Username or password is wrong!
            </div>
          
            <form th:action="@{/doLogin}" method="post">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username" required="required">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" id="myInput" name="password" required="required">
              </div>
              <div class="form-group">
                <input type="checkbox" th:onclick="myFunction()"><span th:style="'margin-left:15px;'">Show Password hello</span>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Login">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL LOGIN -- END-->

    <!-- MODAL LOGOUT -- START-->
    <div class="modal" id="logoutModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
          <div class="modal-header border-0 pb-0">
            <h4>Logout</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body border-0 pb-0">
            <p>Are you sure you want to logout?</p>
          </div>
          <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
              <input type="submit" value="Logout" />
          </form>
          <div class="modal-footer">
            <a href="javascript: logoutForm.submit();" class="btn btn-danger">Yes</a>
            <a href="#" class="btn btn-info" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL LOGOUT -- END-->

    <script th:if="${#request.getParameter('error') == 'true'}">
      $(document).ready(function(){
          $('#loginModal').modal('show');
      });
    </script>
    
    <script>
      function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
          x.type = "text";
        } 
        else {
          x.type = "password";
        }
      }
    </script>
  </body>
</html>