<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="assets/slider/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/slider/css/bootstrap-icons.css" rel="stylesheet">
        
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
	    
	<div th:replace="fragments/header :: header">&nbsp;</div>
	    
    <div class="container mt-3">
        <div class="container ">
	        <div class="card mb-1">
	            <div class="wrapper py-5">
			        <div class="profile">
			            <div class="overlay">
			                <div class="about d-flex flex-column">
			                    <h5 class="user-name" th:text="${data.userName}"></h5>
		                        <h6 class="user-email" th:text="${data.userEmail}"></h6>
			                </div>
			            </div>
			        </div>
		    	</div>
	        </div>
        </div>
        <div class="container mb-3">
        <form th:action="@{/profile/save}" th:object="${profileForm}" method="post">
            <div class="card">
                <div class="card-body p-5">
                    <div class="row gutters">
                        <div class="container">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div class="container">
                            <div class="form-group">
                                <label for="userName">Username</label>
                                <input type="text" class="form-control" id="userName" readonly th:field="${profileForm.userName}">
                            </div>
                        </div>
                        <div class="container">
                            <div class="form-group">
                                <label for="userEmail">Email</label>
                                <input type="email" class="form-control" id="userEmail" placeholder="Enter your email" th:field="${profileForm.userEmail}" required>
                            </div>
                        </div>
                        <div class="container">
                            <div class="form-group">
                                <label for="password">Change Password</label>
                                <input type="password" class="form-control" id="phone" placeholder="Enter new password">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <!-- <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button> -->
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        </div>
    <input type="hidden" th:value="${data.userName}" id="hiddenUserName"/> 
    <input type="hidden" th:value="${data.userEmail}" id="hiddenUserEmail"/> 
	<!-- JAVASCRIPT CODE -->
	<script type="text/javascript">
		$(document).ready(function () {
			//$('.error1').show();
			console.log('halo');
			initForm();
		});

		function initForm() {
            const hiddenUserName = $('#hiddenUserName').val();
            const hiddenUserEmail = $('#hiddenUserEmail').val();
            console.log(hiddenUserEmail);
            console.log(hiddenUserName);
            $('#userName').val(hiddenUserName);
            $('#userEmail').val(hiddenUserEmail);
		}
		
	</script>
</body>
</html>