<!DOCTYPE html>
    
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <link href="assets/slider/css/bootstrap-icons.css" rel="stylesheet">
        
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
	    
	<div th:replace="fragments/header :: header">&nbsp;</div>
	    
    <div class="container mt-3">
        <div class="container ">
	        <div class="card mb-1">
                <div class="row">
                    <div class="col-md-3 col-3 text-center">
                        <div class="alert alert-danger" id="alert" style="display: none;">Maksimal file 1MB</div>
                    </div>
                </div>
                <!-- jika belum memiliki profile picture -->
                <div class="wrapper py-5" th:if="${data.imagePath} == '-' ">
			        <div class="profile" th:style=" 'background-image: url(/assets/images/default.jpg' ";>
			            <form id="profilepic" class="overlay" th:action="@{/profile/change-profile}" method="post" enctype="multipart/form-data"> 
			                <div class="about d-flex flex-column">
			                    <h5 class="user-name" th:text="${data.userName}"></h5>
		                        <h6 class="user-email" th:text="${data.userEmail}"></h6>
                                <label for="changeProfile">Change Picture</label>
                                <input type="file" name="image"  accept="image/png, image/jpeg" id="changeProfile" class="inputFile" style="opacity: 0;">
			                </div>
			            </form>
			        </div>
		    	</div>
	            <div class="wrapper py-5" th:if="${data.imagePath} != '-' ">
			        <div class="profile" th:style=" 'background-image: url(/assets/images/' + ${data.userName} + '/' + ${data.imagePath} + ')' ";>
			            <form id="profilepic" class="overlay" th:action="@{/profile/change-profile}" method="post" enctype="multipart/form-data"> 
			                <div class="about d-flex flex-column">
			                    <h5 class="user-name" th:text="${data.userName}"></h5>
		                        <h6 class="user-email" th:text="${data.userEmail}"></h6>
                                <label for="changeProfile">Change Picture</label>
                                <input type="file" name="image" id="changeProfile" class="inputFile" style="opacity: 0;">
			                </div>
			            </form>
			        </div>
		    	</div>
	        </div>
        </div>
        <div class="container mb-3">
        <form th:action="@{/profile/save}" th:object="${profileForm}" method="post" name="profileForm">
            <div class="card">
                <div class="card-body p-5">
                    <div class="row gutters">
                        <div class="container">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div class="container">
                            <div class="form-group">
                                <label for="userName">Username</label>
                                <input type="text" class="form-control" id="userName" readonly th:field="${profileForm.userName}">
                            </div>
                        </div>
                        <div class="container">
                            <div class="form-group">
                                <label for="userEmail">Email</label>
                                <input type="email" class="form-control" id="userEmail" placeholder="Enter your email" th:field="${profileForm.userEmail}" readonly>
                            </div>
                        </div>
                        <div class="container row gutters mb-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-left">
                                    <button type="button" class="btn btn-primary btn-changePassword">Change Password</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="container" id="changePassword">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="alert alert-danger" id="oldPassAlert" style="display: none;"> </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <label for="password">Old Password</label>
                                    <input type="password" class="form-control" id="oldPassword" placeholder="Enter old password" name="oldPassword"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="alert alert-danger" id="passwordAlert" style="display: none;"> </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <label for="password">New Password</label>
                                    <input type="password" class="form-control" id="newPassword" placeholder="Enter new password" name="newPassword" onchange="checkPassword()" 
                                     th:field="${profileForm.userPassword}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-save save-button" disabled
                                 >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        </div>
    <input type="hidden" th:value="${data.userName}" id="hiddenUserName"/> 
    <input type="hidden" th:value="${data.userEmail}" id="hiddenUserEmail"/> 

    <div th:replace="fragments/logout :: logout">&nbsp;</div>


<!-- MODAL CONFIRM -->
<div id="confirmModal" class="modal fade">
	<div class="modal-dialog modal-confirm modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header flex-column">
				<div class="icon-box">
					<i class="bi bi-bell"></i>
				</div>						
				<h4 class="modal-title w-100 headmsg">Are you sure?</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p class="msg">Remember your new password after you change it</p>
			</div>
			<div class="modal-footer justify-content-center">
                <a href="javascript: profileForm.submit();" class="btn btn-success">Save</a>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>     




	<!-- JAVASCRIPT CODE -->
	<script type="text/javascript">
	
		$(document).ready(function () {
            $('#changePassword').hide();
			initForm();    	
		});
		
		let buttonSaves = document.querySelector(".save-button");
		
		function initForm() {
            const hiddenUserName = $('#hiddenUserName').val();
            const hiddenUserEmail = $('#hiddenUserEmail').val();
            $('#userName').val(hiddenUserName);
            $('#userEmail').val(hiddenUserEmail);

            $('.btn-changePassword').click(function(){
                $('#changePassword').show();
                $('.btn-save').attr('id','btn-save-with-password');
                checkPass();
            });

            $("#changeProfile").change(function(){
                if((this.files[0].size / 1024 / 1024) > 1){
                    $("#alert").show();
                } 
                else{
                    $("#profilepic").submit();
                    // return;
                    // location.reload();
                } 
            });


            $('.overlay').on('click mouseover', function () {
            }).css("cursor", "pointer");
		}

        function checkPass() {
            $("#btn-save-with-password").on('click', function() {
                if(!checkExistingPassword()){
                    $("#oldPassAlert").html("Incorect Old Password!");
                    $("#oldPassAlert").show();
                    return false;
                }
                else $("#oldPassAlert").hide();
                
            });
        }

        function checkExistingPassword(){
            var old = $('#oldPassword').val();
            var username = $('#hiddenUserName').val();
            var result = false;
            $.ajax({
				type: "GET",
				url: "/profile/check-old-pass",
                data: {"oldPassword" : old,
                        "username" : username
                },
				async: false,
				success: function(data) {
                    if (data != "" || data != null) {
						result = data;
					}
					
				}
			});
            console.log("result: "+result)
            return result;
        }

        function checkPassword() {
            var pass = $("#newPassword").val();
            var letter = /[a-zA-Z]/; 
    		var number = /[0-9]/;
    		
            if (pass.length < 6 || pass.length > 50){
                $("#passwordAlert").html("New Password must be at 6-50 characters!");
                $("#passwordAlert").show();
                buttonSaves.setAttribute('disabled', '');
            }
            else if (!pass.match(letter) || !pass.match(number)){
				$("#passwordAlert").hide();
				$("#passwordAlert").html("Password harus mengandung angka dan huruf!");
				$("#passwordAlert").show();
				buttonSaves.setAttribute('disabled', '');
			}
            else {
                $("#passwordAlert").hide();
                buttonSaves.removeAttribute('disabled', '');
            }
        }
        
		
	</script>
</body>
</html>