<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link href="assets/slider/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/slider/css/bootstrap-icons.css" rel="stylesheet">
	
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<title>Register</title>
</head>

<body>
	<section class="h-auto" style="background-color: #eee;">
		<div class="container py-5">
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-lg-12 col-xl-11">
					<div class="card text-black" style="border-radius: 25px;">
						<div class="card-body p-md-5">
							<div class="row justify-content-center">
								<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
	
									<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>
	
									<form class="mx-1 mx-md-4" th:action="@{/user/add}" th:object="${appUser}"
										method="post">
	
										<div class="row">
											<div class="col-md-12 col-12">
												<div class="alert alert-danger" id="usernameAlert" style="display: none;">
												</div>
											</div>
										</div>
	
										<div class="align-items-center mb-4">
											<div class="form-outline flex-fill mb-0">
												<i class="fas fa-user fa-lg me-3 fa-fw"></i>
												<label class="form-label" for="username">Username</label>
												<input type="text" class="form-control" th:field="*{userName}"
													onchange="checkUsername()" id="username" name="username"
													required="required" placeholder="Enter your username" />
											</div>
										</div>
	
	
										<div class="align-items-center mb-4">
											<div class="form-outline flex-fill mb-0">
												<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
												<label class="form-label" for="userEmail">Email</label>
												<input type="email" class="form-control" th:field="*{userEmail}"
													id="userEmail" name="userEmail" placeholder="Enter your email" />
											</div>
										</div>
	
										<div class="row">
											<div class="col-md-12 col-12">
												<div class="alert alert-danger" id="passwordAlert" style="display: none;">
												</div>
											</div>
										</div>
	
										<div class="align-items-center mb-4">
											<div class="form-outline flex-fill mb-0">
												<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
												<label class="form-label" for="password">Password</label>
												<input type="password" onchange="checkPassword(); checkdata();" class="form-control"
													th:field="*{userPassword}" id="password" name="password"
													required="required" placeholder="Enter your password" />
											</div>
										</div>
	
										<div class="row">
											<div class="col-md-12 col-12">
												<div class="alert alert-danger" id="confirmPasswordAlert"
													style="display: none;"></div>
											</div>
										</div>
	
										<div class="align-items-center mb-4">
											<div class="form-outline flex-fill mb-0">
												<i class="fas fa-key fa-lg me-3 fa-fw"></i>
												<label class="form-label" for="confirmPassword">Confirm your
													password</label>
												<input type="password" onchange="checkPassword()" class="form-control"
													id="confirmPassword" name="confirmPassword" required="required"
													placeholder="Confirm your password" />
												
											</div>
										</div>
	
	
										<input type="hidden" th:value="1" th:name="userRole">

										<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
											<button type="submit" class="btn btn-primary btn-lg buttonRegis" disabled
												onclick="checkData()">Register</button>
										</div>
	
									</form>
	
								</div>
								<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
	
									<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
										class="img-fluid" alt="Sample image">
	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- MODAL SUCCESS -->
	<div class="modal" id="successModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0">
				<div class="modal-header border-0 pb-0">
					<h4>Register</h4>
					<a th:href="@{/login}" type="button" class="close">×</a>
				</div>
				<div class="modal-body border-0 pb-0">
					<p>User has been created!</p>
				</div>
				<div class="modal-footer">
					<a th:href="@{/login}" class="btn btn-success">Ok</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- MODAL FAILED -->
	<div class="modal" id="failModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0">
				<div class="modal-header border-0 pb-0">
					<h4>Register</h4>
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<div class="modal-body border-0 pb-0">
					<p>Register user failed!</p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-danger" data-dismiss="modal">Ok</a>
				</div>
			</div>
		</div>
	</div>

	<!-- JAVASCRIPT CODE -->
	<!-- <script type="text/javascript">
		$(document).ready(function () {
			//$('.error1').show();
			console.log('apin botak')
			initForm();
		});

		function initForm() {
			let username;
			let email;
			let password;
			let passwordConfirmation;
			$('#username').on('input', function () {
				username = $('#username').val();
				if (username.length < 5) {
					$('.error1').html('Username harus 5 sampai 20 karakter');
					$('.error1').show();
				} else {
					$('.error1').hide();
				}
			});
			$('#email').on('input', function () {
				email = $('#email').val();
				if (validateEmail(email) == false) {
					$('.error2').html('Email harus mengikuti format RCC 822 ');
					$('.error2').show();
				} else {
					$('.error2').hide();
				}
			});
			$('#password').on('input', function () {
				password = $('#password').val();
				if (password.length < 8) {
					$('.error3').html('Password minimal harus 8 karakter');
					$('.error3').show();
				}else{
					$('.error3').hide();
				}
				if (validatePassword() == false) {
					$('.error3').html('Password harus memiliki minimal 1 huruf kecil, 1 huruf besar, dan 1 angka');
					$('.error3').show();
				} else {
					$('.error3').hide();
				}
			});

			$('#passwordConfirmation').on('input', function () {
				password = $('#password').val();
				passwordConfirmation = $('#passwordConfirmation').val();
				if (passwordConfirmation != password) {
					$('.error4').html('Password tidak sesuai');
					$('.error4').show();
				} else {
					$('.error4').hide();
				}
			});

			$('.btn-save').on('click', function () {
				if ($('.error1').length || $('.error2').length || $('.error3').length || $('.error4').length) {
					alert('there is an error');
					return false;
				}
			});
		}
		function validateEmail(email) {
			var re = /\S+@\S+\.\S+/;
			return re.test(email);
		}

		function validatePassword(pw) {
			return /[A-Z]/.test(pw) &&
				/[a-z]/.test(pw) &&
				/[0-9]/.test(pw);
		}
	</script> -->

<script>

	let buttonRegist = document.querySelector(".buttonRegis");
	
	function checkUsername() {
		var username = $("#username").val();
		var result = false;
		if (username.length < 6 || username.length > 20){
			$("#usernameAlert").show();
			$("#usernameAlert").html("Username must be 6-20 characters!");
			buttonRegist.addAttribute('disabled', '');
			return false;
		}
		else {
			$.ajax({
				type: "GET",
				url: "/user/check/" + username,
				async: false,
				success: function(response) {
					if (response != "TidakTerdaftar") {
						$("#usernameAlert").html("Username must be unique!");
						$("#usernameAlert").show();
						buttonRegist.addAttribute('disabled', '');
						result = false;
					}
					else {
						$("#usernameAlert").hide();
						result = true;
					}
				}
			});
			return result;
		}
	}
	
	

	function checkPassword() {
		var pass = $("#password").val();
		var confirmPass = $("#confirmPassword").val();
		var letter = /[a-zA-Z]/; 
    	var number = /[0-9]/;
		
		
		if (pass.length < 6 || pass.length > 50){
			$("#passwordAlert").html("Password must be at 6-50 characters!");
			$("#passwordAlert").show();
			if (pass != confirmPass) {
				$("#confirmPasswordAlert").html("Invalid confirm password!");
				$("#confirmPasswordAlert").show();
				buttonRegist.addAttribute('disabled', '');
				return false;
			}
			else {
				$("#confirmPasswordAlert").hide();
				buttonRegist.addAttribute('disabled', '');
				return false;
			}
		}
		else if (!pass.match(letter) || !pass.match(number)){
			$("#passwordAlert").hide();
			$("#passwordAlert").html("Password harus mengandung angka dan huruf!");
			$("#passwordAlert").show();
			if (pass != confirmPass) {
				$("#confirmPasswordAlert").html("Invalid confirm password!");
				$("#confirmPasswordAlert").show();
				buttonRegist.addAttribute('disabled', '');
				return false;
			}
			else {
				$("#confirmPasswordAlert").hide();
				buttonRegist.addAttribute('disabled', '');
				return false;
			}
		}
		else {
			$("#passwordAlert").hide();
			if (pass != confirmPass) {
				$("#confirmPasswordAlert").html("Invalid confirm password!");
				$("#confirmPasswordAlert").show();
				buttonRegist.addAttribute('disabled', '');
				return false;
			}
			else {
				$("#confirmPasswordAlert").hide();
				buttonRegist.removeAttribute('disabled', '');
				return true;
			}
		}
	}
	

	function checkData() {
		if (checkUsername() && checkPassword()) {
			return true;
		}else{
			buttonRegist.addAttribute('disabled', '');
			return false;
		}
	}
	
	var url = window.location.href;
	if(url.indexOf('?success=true') != -1) {
		$('#successModal').modal('show');
		
		window.onclick = function(event) {
		 	if (event.target != $('#successModal').modal) {
		    	window.location.href = "http://localhost:8080/login";
		  	}
		}
	}
	if(url.indexOf('?success=false') != -1) {
		$('#failModal').modal('show');
	}
</script>
</body>

</html>