<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Wow!" />
    <meta property="og:description" content="Yuk ikutan juga biar dapat sertifikatnya" />
    <meta property="og:image:secure_url" content="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8" />
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/certificate.css">
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <title>Certificate</title>
</head>
<body style="margin:auto">
    <div class="certificate mx-auto" id="capture" style="top: 0; height:auto;">
        <div class="water-mark-overlay"></div>
        <div class="certificate-header">
            <img src="/assets/images/httlogo.png" class="logo"
                alt="logo how to trade">
        </div>
        <div class="certificate-body">
    
            <p class="certificate-title text-black">
                <strong>HOWTOTRADE COURSE</strong>
            </p>
            <h1>SERTIFIKAT KELULUSAN</h1>
            <p class="student-name text-black" th:text="${user.userRealName}"></p>
            <div class="certificate-content">
                <p class="about-certificate text-black">telah menyelesaikan topik <span th:text="${course.courseName}"></span>
                    online</p>
            </div>
            <div>
            	<b><p>Nilai kamu adalah <span th:text="${quiz}"></span> dari 10</p></b>
            </div>
            <br>
            <div>
            	<p>Selamat atas kelulusan Anda! Kami berharap ilmu yang didapatkan dalam mempelajari kelas dan mengisi kuis dapat 
            	diterapkan di pengalaman trading dan investing yang Anda lakukan! Ambil langkah untuk menempuh perjalanan lebih jauh
            	dan dapatkan keuntungan di sekitar Anda. </p>
            </div>
        </div>
        <br><br>
        <div class="certificate-footer text-black">
            <div class="row">
                <div class="col-md-6">
                    <p>Kepala Pembelajaran Howtotrade</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p style="float:right">Disetujui oleh</p>
                        </div>
                        <div class="col-md-6">
                            <p style="float:right">Disetujui oleh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
        <div class="certificate-footer text-black">
            <div class="row">
                <div class="col-md-6">
                    <p>Christian Bryan Jayanto</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p style="float:right">Jovan Reynardo</p>
                        </div>
                        <div class="col-md-6">
                            <p style="float:right">Alvin Tanjaya</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>