<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Course</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<i class="fas fa-cloud text-white mr-auto"></i>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExample05">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link active" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/topic/all">Forum</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/course/all">Course</a>
				</li>
			</ul>
			<ul class="navbar-nav my-4 my-md-0">
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="/profile" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
					<div class="dropdown-menu" aria-labelledby="dropdown05">
						<a class="dropdown-item" href="/profile">Profile</a>
						<a class="dropdown-item" href="#">Log Out</a>
					</div>
				</li>
				<li>
					<i class="fa fa-user text-white nav-item"></i>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<div class="row'>
			
		</div>
	</div>
	
</body>
</html>