<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/quiz.css">

<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/anychart/js/anychart-bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/anychart/js/anychart-base.min.js}"></script>	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Course</title>
</head>
<body>
	<div class="quiz">
		<div class="course-container" id="quiz">
			<div class="quiz-header">
				<div class="col-md-12 d-flex flex-column" id="activity-container" alt="Chart course">
				<img id="activity-image" class="mw-100 mx-auto"></img>
				<div id="activity-chart">
					<h2 id="chart-name"></h2>
					<div id="chart-container" style="height:500px"></div>
				</div>
				<div id="activity-desc" class="text-center"></div>
				<h2 id="activity-question"></h2>
				<div id="question-container">
					<div class="row">
						<div class="col-md-12 col-12">
							<div class="alert alert-danger" id="courseAlert" style="display: none;">
							</div>
						</div>
					</div>
					<h2 id="question-desc"></h2>
					<ul>
						<li>
							<input type="radio" name="answer" id="1" class="answer" required>
							<label for="a" id="a_text"></label>
						</li>
		
						<li>
							<input type="radio" name="answer" id="2" class="answer">
							<label for="b" id="b_text"></label>
						</li>
		
						<li>
							<input type="radio" name="answer" id="3" class="answer">
							<label for="c" id="c_text"></label>
						</li>
		
						<li>
							<input type="radio" name="answer" id="4" class="answer">
							<label for="d" id="d_text"></label>
						</li>
		
					</ul>
				</div>
			</div>
		</div>
		<button id="back-btn">Back</button>
		<button id="next-btn" class="btn-floating float-right">Next</button>
		<button id="finish-btn" style="display: none;" class="btn-floating float-right">Finish</button>		
	</div>
	
	<div id="course-modal" class="modal">
		<div class="modal-content">
			<h2 class="modal-text"></h2>
			<a th:href="@{'/course/finish/' + ${courseData.courseId}}" class="text-center">Continue</button>
		</div>
	</div>
	
</body>
<script th:inline="javascript">
	const answerEls = document.querySelectorAll('.answer');
	const activityImg = document.getElementById('activity-image');
	const activityDesc = document.getElementById('activity-desc');
	const questionDesc = document.getElementById('question-desc');
	const activityChart = document.getElementById('activity-chart');
	const questionContainer = document.getElementById('question-container');
	const a_text = document.getElementById('a_text');
	const b_text = document.getElementById('b_text');
	const c_text = document.getElementById('c_text');
	const d_text = document.getElementById('d_text');
	const nextBtn = document.getElementById('next-btn')
	const backBtn = document.getElementById("back-btn")
	const finishBtn = document.getElementById("finish-btn")
	const modal = document.getElementById("course-modal");
	
	let courseData = /*[[${courseData}]]*/ 'default';
	let currentActivity = 0;
	
	let chart;
    
	loadCourse();
	nextBtn.onclick = function() {next()};
	backBtn.onclick = function() {back()};
	finishBtn.onclick = function() {finish()};
	
	// Enable navigation prompt
	window.onbeforeunload = function() {
	    return true;
	};
	
	function loadCourse() {
		let currentActivityData = courseData.activityList[currentActivity];
		
		deselectAnswers()
		
		if(currentActivityData.isQuestion){
			selectAnswers(currentActivityData.question.userAnswer);			
		}
		
		if(currentActivityData.activityType == "chart"){
			activityChart.style.display = "block";
			activityImg.style.display = "none";
			drawChart();
		}else if(currentActivityData.activityType == "picture"){
			var id = courseData.courseId;
			var courseId = id.toString();
			activityChart.style.display = "none";
			activityImg.style.display = "block";
			activityImg.src = currentActivityData.imageUrl;
		}else if(currentActivityData.activityType == "text"){
			activityChart.style.display = "none";
			activityImg.style.display = "none";
		}
		
		activityDesc.innerText = currentActivityData.activityDesc;
		
		
		if(currentActivityData.isQuestion){
			questionContainer.style.display = "block";
			
			selectAnswers(currentActivityData.userAnswer)
	
		    questionDesc.innerText = currentActivityData.question.questionDesc;
		    a_text.innerText = currentActivityData.question.choiceOne;
		    b_text.innerText = currentActivityData.question.choiceTwo;
		    c_text.innerText = currentActivityData.question.choiceThree;
		    d_text.innerText = currentActivityData.question.choiceFour;
			
		} else {
			questionContainer.style.display = "none";
		}
	    
	    displayBtn();
	}
	
	function deselectAnswers() {
	    answerEls.forEach(answerEl => answerEl.checked = false)
	}
	
	function selectAnswers(userAnswer) {
	    if(userAnswer > 0){
	    	answerEls[userAnswer-1].checked = true
	    }
	}
	

	function getSelected() {
	    let answer
	    answerEls.forEach(answerEl => {
	        if(answerEl.checked) {
	            answer = answerEl.id
	        }
	    })
	    return answer
	}

	function displayBtn(){
		if(currentActivity == courseData.activityList.length-1){
	    	nextBtn.style.display = "none"
	    	backBtn.style.display = "inline"
	    	finishBtn.style.display = "inline"
	    	backBtn.style.borderRadius = "0px"
	    	finishBtn.style.borderRadius = "0px"
	    	nextBtn.style.width = "50%"
	    	backBtn.style.borderRight = "2px white"
	    } else if(currentActivity == 0){
	    	backBtn.style.display = "none"
	    	nextBtn.style.display = "inline"
	    	finishBtn.style.display = "none"
	    	nextBtn.style.width = "100%"
	    } else {
	    	nextBtn.style.display = "inline"
	    	nextBtn.style.borderRadius = "0px"
	    	backBtn.style.display = "inline"
	    	backBtn.style.borderRadius = "0px"
	    	finishBtn.style.display = "none"
	    	nextBtn.style.width = "50%"
	    	backBtn.style.borderTop = "2px white"
	    }
	}
	
	function saveAnswer(){
		if(courseData.activityList[currentActivity].isQuestion){
			courseData.activityList[currentActivity].question.userAnswer = getSelected();			
		}
	}
	function next(){
		if(courseData.activityList[currentActivity].isQuestion){// jika isquestion
			if($('.answer:checked').val()){
				$("#courseAlert").hide();
				saveAnswer();
				currentActivity++;
				loadCourse();
			}
			else{
				$("#courseAlert").html('Jawaban harus diisi!');
				$("#courseAlert").show();
			} 
		}
		else{
			saveAnswer();
			currentActivity++;
			loadCourse();
		}
       	
    };
    function back(){
    	saveAnswer();
    	currentActivity--;
       	loadCourse();        
    };
    
    function finish(){
    	window.onbeforeunload = null; // Remove navigation prompt
    	
    	saveAnswer()
    	
    	modal.style.display = "block";
    	$("#course-modal .modal-text").text(` You finish the course `);
    }
    
    function drawChart(){
    	anychart.onDocumentReady(function() {
  			if(chart) chart.dispose();
	    	chart = anychart.stock();
	        let dataTable = anychart.data.table();
	        
	        let currentActivityData = courseData.activityList[currentActivity];
			
   			let map = new Map(Object.entries(currentActivityData.chart.candleList));
   			
   			let res = []
   			for(let idx of map.keys()){
   				let temp =[];
   				temp.push(map.get(idx).candleTime);
   				temp.push(map.get(idx).openPrice);
   				temp.push(map.get(idx).highPrice);
   				temp.push(map.get(idx).lowPrice);
   				temp.push(map.get(idx).closePrice)
   				
   				res.push(temp);
   			}
   			
    		dataTable.addData(res);
    		
    		mapping = dataTable.mapAs();
    	    mapping.addField('open', 1);
    	    mapping.addField('high', 2);	
    	    mapping.addField('low', 3);
    	    mapping.addField('close', 4);
    	    
    	    // set the series
    	    let series = chart.plot(0).candlestick(mapping);
    	    series.name(currentActivityData.chart.chartName);
    	    
    	    chart.title(currentActivityData.chart.chartName);
	        chart.container('chart-container');
	        chart.draw();
    		
    	})
    };
</script>
</html>