<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/course.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/certificate.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- 
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
 -->
<script	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Course Dashboard</title>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<section class="probootstrap-section probootstrap-section-colored"
		style="background: #343a40">
		<div class="container">
			<div class="row">
				<div
					class="col-md-12 text-left section-heading probootstrap-animate">
					<h1>Our Courses</h1>
				</div>
			</div>
		</div>
	</section>

	<!-- featured course -->
	<section class="probootstrap-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="probootstrap-flex-block">
						<div class="probootstrap-text probootstrap-animate">
							<div class="text-uppercase probootstrap-uppercase">Featured
								Course</div>
							<h3 th:text="${listCourse[0].courseName}"></h3>
							<p th:text="${listCourse[0].courseDesc}"></p>
							<p>
								<a th:href="@{'/course/'+${listCourse[0].courseId}}" class="btn btn-primary"
									style="background: #3ec1d5; border-color: #3ec1d5;">Enroll
									now</a>
							</p>
						</div>
						<div class="probootstrap-image probootstrap-animate">
							<img th:src="@{'/assets/images/course/' + ${listCourse[0].courseName} + '/' + ${listCourse[0].imageUrl}}" alt="Failed to load image, please reload"
							style="max-width:100%; max-height:100%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- course and quiz list -->

	<section class="probootstrap-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>Course</h2>
					<div class="row" th:each="course : ${listCourse}">
						<div class="probootstrap-service-2 probootstrap-animate"
							style="height: 250px; flex: 1;">
							<div class="image">
								<div class="image-bg fit-in-background">
									<img th:src="@{'/assets/images/course/' + ${course.courseName} + '/' + ${course.imageUrl}}" alt="Failed to load image, please reload">
								</div>
							</div>
							<div class="text">
								<li th:if="${course.isEnroll}"
									class="fa fa-check-circle text-success float-right"></li>
								<h3 th:text="${course.courseName}"></h3>
								<p th:text="${course.courseDesc}"></p>
								<p>
									<a th:if="${!course.isLock}"
										th:href="@{'/course/'+${course.courseId}}"
										class="btn btn-primary"
										style="background: #3ec1d5; border-color: #3ec1d5;">Enroll
										now</a> <a th:if="${course.isLock}" class="btn btn-secondary">Locked!</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h2>Quiz</h2>
					<div class="row" th:each="quiz : ${listQuiz}">
						<div class="probootstrap-service-2 probootstrap-animate"
							style="height: 250px; flex: 1;">
							<div class="image">
								<div class="image-bg fit-in-background">
									<img th:src="@{'/assets/images/quiz/on_courseid_'+ ${quiz.courseId} + '/' + ${quiz.imageUrl}}" alt="Failed to load image, please reload">
									<!-- <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Failed to load image, please reload"> -->
									
								</div>
							</div>
							<div class="text">
								<li th:if="${quiz.isPass}"
									class="fa fa-check-circle text-success float-right"></li>
								<h3 th:text="${quiz.quizName}"></h3>
								<p th:text="${quiz.quizDesc}"></p>
								<p>
									<a th:if="${!quiz.isLock}"
										th:href="@{'/course/quiz/'+${quiz.quizId}}"
										class="btn btn-primary"
										style="background: #3ec1d5; border-color: #3ec1d5;">Enroll now</a> 
										<a th:if="${quiz.isLock}" class="btn btn-secondary">Locked!</a>
									<span class="text-center float-right"> 
										<a th:if="${!quiz.isLock AND quiz.isPass}"
											class="btn btn-primary btn-certificate text-white" th:data-id="${quiz.courseId}"
											style="background: #3ec1d5; border-color: #3ec1d5;"> <i class="fa fa-download"></i> Certificate
										</a>
									</span>
									<span class="text-center float-right mt-1" sec:authorize="isAuthenticated()"> 
										<a
											th:if="${!quiz.isLock AND quiz.isPass}" 
											class="btn btn-primary"
											th:href="@{'https://www.facebook.com/sharer/sharer.php?u=localhost:8080/course/certificate.html?username=' + ${username} + '&cid=' + ${quiz.courseId} }"
											target="_blank"
											style="background: #3ec1d5; border-color: #3ec1d5;"> 
											<i class="fas fa-share"></i> Share on Facebook
										</a>
									</span>
								</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="certificate d-block position-absolute" id="capture" style="top: 0; margin-left: 100vw">
		<div class="water-mark-overlay"></div>
		<div class="certificate-header">
			<img src="/assets/images/httlogo.png" class="logo"
				alt="logo how to trade">
		</div>
		<div class="certificate-body">

			<p class="certificate-title">
				<strong>HOWTOTRADE COURSE</strong>
			</p>
			<h1>Certificate of Completion</h1>
			<p class="student-name" th:text="${realname}"></p>
			<div class="certificate-content">
				<p class="about-certificate">has completed on topic <span id="titleCourse"></span>
					online</p>
			</div>
		</div>
		<br><br>
		<div class="certificate-footer text-muted">
			<div class="row">
				<div class="col-md-6">
					<p>Principal: ______________________</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<p>Accredited by</p>
						</div>
						<div class="col-md-6">
							<p>Endorsed by</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>
		<div class="certificate-footer text-muted">
			<div class="row">
				<div class="col-md-6">
					<p>Christian Bryan Jayanto</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<p>Jovan Reynardo</p>
						</div>
						<div class="col-md-6">
							<p>Alvin Tanjaya</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/logout :: logout">&nbsp;</div>

</body>
<script>
	window.jsPDF = window.jspdf.jsPDF;
	window.html2vancas = html2canvas;

	//var doc = new jsPDF();
	var specialElementHandlers = {
	    '#hidediv': function (element, renderer) {
	        return true;
	    }
	};
	
	function genPDF3(){
		doc.fromHTML($('#capture').html(), 15, 15, {
	        'width': 170,
	            'elementHandlers': specialElementHandlers
	    }, 
	    function() {
			doc.save();
		})
	    //() => doc.save()
	}
	
	function genPDF(){
	window.jsPDF = window.jspdf.jsPDF;
		html2canvas(document.querySelector("#capture"),{
			allowTaint: true,
			useCORS: true,
			scale: 1
		}).then(canvas => {
			var img = canvas.toDataURL("image/png");
			
			var doc = new jsPDF("l","pt", "a4");
			
			doc.addImage(img, 'PNG', 0, 0);
			doc.save('certificate.pdf');
		})
		
	}
	
	function genPDF1Failed() {
		html2canvas(document.querySelector('#capture'), {
			onrendered: function (canvas) {
				var img = canvas.toDataURL("image/png");
				var doc = new jsPDF("l", "pt", "a4");
				
				doc.addImage(img, 'JPEG', 20, 20);
				doc.save('test.pdf');
			}
		})
	}

	$(".btn-certificate").click(function(){
		var courseId = $(this).data('id');
		var courseName = getCourseName(courseId);
		$("#titleCourse").html(courseName);
		genPDF();
	});

	function getCourseName(courseId){
		var result = '';
		$.ajax({
			type: "GET",
			url: "/course/get-coursename",
			data: {"id" : courseId},
			async: false,
			success: function(data) {
				if (data != "" || data != null) {
					result = data;
				}
			}
		});
		console.log(result);
		return result;
	}

</script>

</html>