<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/course.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
  
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Course Dashboard</title>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	
	<section class="probootstrap-section probootstrap-section-colored" style="background:#343a40">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-left section-heading probootstrap-animate">
					<h1>Our Courses</h1>
				</div>
			</div>
		</div>
	</section>
	
	<!-- featured course -->
	<section class="probootstrap-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="probootstrap-flex-block">
						<div class="probootstrap-text probootstrap-animate">
							<div class="text-uppercase probootstrap-uppercase">Featured Course</div>
							<h3 th:text="${listCourse[0].courseName}"></h3>
							<p th:text="${listCourse[0].courseDesc}"></p>
							<p><a href="#" class="btn btn-primary">Enroll now</a> <span class="enrolled-count">2,928 students enrolled</span></p>
						</div>
						<div class="probootstrap-image probootstrap-animate" 
						th:style="'background-image:url(' + @{${listCourse[0].imageUrl}} + ');'">
						<a href="https://www.instagram.com/jovanreynardo/" class="btn-video popup-vimeo"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- course and quiz list -->

<section class="probootstrap-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row" th:each="course : ${listCourse}">
					<div class="probootstrap-service-2 probootstrap-animate">
						<div class="image">
							<div class="image-bg">
								<img th:src="@{${course.imageUrl}}" alt="Free Bootstrap Template by uicookies.com">
							</div>
						</div>
						<div class="text">
							<span class="probootstrap-meta"><i class="icon-calendar2"></i> July 10, 2017</span>
							<h3 th:text="${course.courseName}"></h3>
							<p th:text="${course.courseDesc}"></p>
							<p><a th:href="@{'/course/'+${course.courseId}}" class="btn btn-primary">Enroll now</a> <span class="enrolled-count">7,202 students enrolled</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row" th:each="quiz : ${listQuiz}">
					<div class="probootstrap-service-2 probootstrap-animate">
						<div class="image">
							<div class="image-bg">
								<img th:src="@{${quiz.imageUrl}}" alt="Free Bootstrap Template by uicookies.com">
							</div>
						</div>
						<div class="text">
							<span class="probootstrap-meta"><i class="icon-calendar2"></i> July 10, 2017</span>
							<h3 th:text="${quiz.quizName}"></h3>
							<p th:text="${quiz.quizDesc}"></p>
							<p><a th:href="@{'/course/quiz/'+${quiz.quizId}}" class="btn btn-primary">Enroll now</a> <span class="enrolled-count">7,202 students enrolled</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div th:replace="fragments/logout :: logout">&nbsp;</div>

</body>
</html>