<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="assets/slider/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/slider/css/bootstrap-icons.css" rel="stylesheet">
  
  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://app.simplefileupload.com/buckets/7ae667ebbf93ce431ead8453052082aa.js"></script>

  <head>
    <title>Forum</title>
  </head>
  <body>
    
    <div th:replace="fragments/header :: header">&nbsp;</div>

    <div class="container" style="width: 100%; margin: 0;">
      <div class="row" style="background:navajowhite; text-align: center; width: fit-content;" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="container">
          <span>Halaman Admin</span>
        </div>
      </div>
      
    </div>
    
    
    <!-- nampilin topik -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4 border-primary">
            <div class="card-header border-primary">
              <div class="media flex-wrap w-100 align-items-center">
              	<img th:if="${data.userImage} == '' " th:src="@{'/assets/images/default.jpg'}" class="d-block ui-w-40 rounded-circle" alt="" style="max-width: 50px;max-height: 50px;">
                <img th:if="${data.userImage} != '' " th:src="@{${data.userImage}}" class="d-block ui-w-40 rounded-circle" alt="" style="max-width: 50px;max-height: 50px;">
                <div class="media-body ml-3">
                  <span th:text="${topicData.username}"></span>
                  <div class="text-muted small">
                    <span th:text="${topicData.countdate}"></span>
                  </div>
                </div>
                <div class="text-muted small ml-3">
                  <div> Diunggah pada <strong>
                      <span th:text="${topicData.posted}"></span>
                    </strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h3 th:text="${topicData.topictitle}"></h3>
            </div>
            <div class="card-body pt-1">
              <p th:text="${topicData.description}"></p>
              <div th:if="${topicData.topicimage} != '' ">
                <!-- <img class="img-thumbnail" th:src="@{'/assets/images/' + ${topicData.username} + '/topic/' + ${topicData.topictitle} + '/' + ${topicData.imagepath} }"  -->
                <img class="img-thumbnail" th:src="@{${topicData.topicimage}}" 
                alt="Gagal mengambil gambar, mohon dimuat ulang">
              </div>
            </div>
            <form th:action="@{'/topic/'+${topicData.topicid}+'/comment'}" th:object="${commentForm}" method="post">
              <div class="panel">
                <div class="panel-body">
                <div class="d-flex">
                	<textarea class="form-control m-3 border-primary" th:field="*{description}" rows="4" placeholder="Masukkan komentar Anda" required></textarea>
                </div>
                  
                  <div class="mar-top mb-3 clearfix">
                    <button class="btn btn-primary pull-right mr-3" type="submit">
                      <i class="fa fa-pencil fa-fw"></i> Komentari </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      
    
    <div class="container py-3 px-5">
      <div class="" th:each="comment : ${listComment}">
        <div class="row border-top border-primary py-3 items">
    
          <div class="col-2 mr-2 align-self-center">
            <time th:text="${comment.posted}"></time>
          </div>
    
          <div class="col-1 align-self-center">
          	<!-- <img th:if="${comment.imagepath} == '-' " th:src="@{'/assets/images/default.jpg'}" class="d-block ui-w-40 rounded-circle" alt="Failed to load image" style="max-width: 50px;max-height: 50px;">
            <img th:if="${comment.imagepath} != '-' " th:src="@{'/assets/images/' + ${comment.username} + '/' + ${comment.imagepath}}" class="d-block ui-w-40 rounded-circle" alt="" style="max-width: 50px;max-height: 50px;"> -->
          	<img th:if="${comment.userimage} == '' " th:src="@{'/assets/images/default.jpg'}" class="d-block ui-w-40 rounded-circle" alt="Gagal mengambil gambar, mohon dimuat ulang" style="max-width: 50px;max-height: 50px;">
            <img th:if="${comment.userimage} != '' " th:src="@{${comment.userimage}}" class="d-block ui-w-40 rounded-circle" alt="Gagal mengambil gambar, mohon dimuat ulang" style="max-width: 50px;max-height: 50px;">
          </div>
    
          <div class="col-8 pt-2">
            <h4 th:text="${comment.username}"></h4>
            <p class="text-justify pr-3" th:text="${comment.description}"></p>
          </div>
    
          <div class="align-self-center row float-right">
            <div class="mx-1 align-self-center" sec:authorize="hasRole('ROLE_ADMIN')">
              <a href="#block-modal" th:data-id="${comment.username}" class="open-block-modal" data-toggle="modal">
                <i class="fa fa-minus-circle text-danger fa-lg align-middle"></i>
              </a>
            </div>
            <div th:each="authority : ${#authentication.getAuthorities()}" th:if="${authority.getAuthority().startsWith('ROLE_ADMIN')} OR ${#authentication.name} == ${comment.username}">
              <a href="#del-modal" th:data-id="${comment.topicid}" th:data-title="${comment.commentid}"
                class="float-right ml-3 open-del-modal" data-toggle="modal">
                <button type="button" class="btn btn-danger">
				  <i class="fa fa-trash"></i>
				</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
        
        
        
    <div th:replace="fragments/logout :: logout">&nbsp;</div>
        
        <div class="modal" id="del-modal">
	      <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content border-0">
	          <div class="modal-header border-0 pb-0">
	            <h4>Hapus Komentar</h4>
	            <button type="button" class="close" data-dismiss="modal">X</button>
	          </div>
	          <div class="modal-body border-0 pb-0">
	            <p>Apakah Anda yakin untuk menghapus?</p>
	          </div>
	          <div class="modal-footer">
	            <a class="btn btn-danger modal-yes">Ya</a>
	            <a class="btn btn-info text-white" data-dismiss="modal">Tidak</a>
	          </div>
	        </div>
	      </div>
	    </div>
	    
	    <div class="modal" id="block-modal">
	      <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content border-0">
	          <div class="modal-header border-0 pb-0">
	            <h4>Block User</h4>
	            <button type="button" class="close" data-dismiss="modal">X</button>
	          </div>
	          <div class="modal-body border-0 pb-0">
	            <p>Apakah Anda yakin untuk memblokir?</p>
	          </div>
	          <div class="modal-footer">
	            <a class="btn btn-danger modal-yes">Ya</a>
	            <a class="btn btn-info text-white" data-dismiss="modal">Tidak</a>
	          </div>
	        </div>
	      </div>
	    </div>
	    
        <script>
        $(document).on("click", ".open-del-modal", function () {
		     var topics = $(this).data('id');
		     var comments = $(this).data('title');
		     $("#del-modal .modal-yes").attr("href", "/topic/" + topics + "/comment/"
		     		+ comments + "/delete")
		});
		
		$(document).on("click", ".open-block-modal", function () {
		     var name = $(this).data('id');
		     $("#block-modal .modal-yes").attr("href", "/topic/block/" + name)
		});
		
		
        </script>

  </body>
</html>