<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="assets/slider/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/slider/css/bootstrap-icons.css" rel="stylesheet">
  
  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <head>
    <title>Forum</title>
  </head>
  <body>
    
    <div th:replace="fragments/header :: header">&nbsp;</div>

    <div class="container" style="width: 100%; margin: 0;">
      <div class="row" style="background:navajowhite; text-align: center; width: fit-content;" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="container">
          <span>Admin Page</span>
        </div>
      </div>
      
    </div>
    
    
    <!-- nampilin topik -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-header">
              <div class="media flex-wrap w-100 align-items-center">
                <img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                <div class="media-body ml-3">
                  <span th:text="${topicData.username}"></span>
                  <div class="text-muted small">
                    <span th:text="${topicData.countdate}"></span>
                  </div>
                </div>
                <div class="text-muted small ml-3">
                  <div> Posted on <strong>
                      <span th:text="${topicData.posted}"></span>
                    </strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h3 th:text="${topicData.topictitle}"></h3>
            </div>
            <div class="card-body pt-1">
              <p th:text="${topicData.description}"></p>
              <div th:if="${topicData.imagepath} != '-'">
                <img class="img-thumbnail" th:src="@{'/assets/images/' + ${topicData.username} + '/topic/' + ${topicData.topictitle} + '/' + ${topicData.imagepath} }" 
                alt="Failed to load image">
              </div>
            </div>
            <form th:action="@{'/topic/'+${topicData.topicid}+'/comment'}" th:object="${commentForm}" method="post">
              <div class="panel">
                <div class="panel-body">
                <div class="d-flex">
                	<textarea class="form-control m-3 border-primary" th:field="*{description}" rows="4" placeholder="Type your comment"></textarea>
                </div>
                  
                  <div class="mar-top mb-3 clearfix">
                    <button class="btn btn-primary pull-right mr-3" type="submit">
                      <i class="fa fa-pencil fa-fw"></i> Comment </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      
    
    <div class="container py-3 px-5">
      <div class="" th:each="comment : ${listComment}">
        <div class="row border-top border-primary py-3 items">
    
          <div class="col-2 mr-2 align-self-center">
            <time th:text="${comment.posted}"></time>
          </div>
    
          <div class="mr-2 align-self-center">
            <img class="mr-3 rounded-circle" src="https://i.imgur.com/iNmBizf.jpg">
          </div>
    
          <div class="col-8 pt-2">
            <h4 th:text="${comment.username}"></h4>
            <p th:text="${comment.description}"></p>
          </div>
    
          <div class="align-self-center row float-right">
            <div class="mx-1 align-self-center" sec:authorize="hasRole('ROLE_ADMIN')">
              <a th:href="@{'/topic/block/'+${comment.username}}">
                <i class="fa fa-minus-circle text-danger fa-lg align-middle"></i>
              </a>
            </div>
            <div th:each="authority : ${#authentication.getAuthorities()}" th:if="${authority.getAuthority().startsWith('ROLE_ADMIN')} OR ${#authentication.name} == ${comment.username}">
              <a class="float-right ml-3"
                th:href="@{'/topic/'+${comment.topicid}+'/comment/'+${comment.commentid}+'/delete'}">
                <button type="button" class="btn btn-danger">
				  <i class="fa fa-trash"></i>
				</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
        
        <!-- DELETE MODAL -->
        <!-- <div id="deleteModal" class="modal fade">
          <div class="modal-dialog modal-confirm modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header flex-column">
                <div class="icon-box">
                  <i class="bi bi-bell"></i>
                </div>						
                <h4 class="modal-title w-100">Are you sure?</h4>	
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
              </div>
              <div class="modal-footer justify-content-center">
                <a th:href="@{'/topic/'+${comment.topicId}+'/comment/'+${comment.commentId}+'/delete'}" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>    -->
        
        
        <div th:replace="fragments/logout :: logout">&nbsp;</div>
        

  </body>
</html>