<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<head>
	<title>Header</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
          	<img th:src="@{/assets/images/httlogo.png}" alt="howToTradeLogo" class ="httlogo"></img>
          </a>
        </li>
        <li class="nav-item" th:classappend="${module == 'forum' ? 'active' : ''}" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/topic/all">Forum</a>
        </li>
        <li class="nav-item" th:classappend="${module == 'course' ? 'active' : ''}" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/course/all">Course</a>
        </li>
      </ul>
      <ul class="navbar-nav my-5 my-md-0">
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/user/add">Register</a>
        </li>
        <!-- <li class="nav-item my-auto mr-3 text-white" sec:authorize="isAuthenticated()">
          Hi, <span sec:authentication="name"></span>
        </li> -->
        <li class="nav-item dropdown my-auto mr-3 text-white" sec:authorize="isAuthenticated()">
          <div class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user nav-item"></i>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
        
      </ul>
    </div>
  </nav>
<!-- 
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My project</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li th:classappend="${module == 'home' ? 'active' : ''}">
                  <a href="#" th:href="@{/}">Home</a>
              </li>
              <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                  <a href="#" th:href="@{/task}">Tasks</a>
              </li>
              <li th:classappend="${module == 'tasks-ld' ? 'active' : ''}">
                  <a href="#" th:href="@{/task-ld}">Tasks (Layout Dialect)</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li th:if="${#authorization.expression('!isAuthenticated()')}">
                  <a href="/signin" th:href="@{/signin}">
                      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                  </a>
              </li>
              <li th:if="${#authorization.expression('isAuthenticated()')}">
                  <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                  </a>
                  <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
              </li>
          </ul>
      </div>
      
  </div>
</nav> -->

    <!-- MODAL LOGOUT -- START-->
    <div class="modal" id="logoutModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
          <div class="modal-header border-0 pb-0">
            <h4>Logout</h4>
            <button type="button" class="close" data-dismiss="modal">?</button>
          </div>
          <div class="modal-body border-0 pb-0">
            <p>Are you sure you want to logout?</p>
          </div>
          <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
              <input type="submit" value="Logout" />
          </form>
          <div class="modal-footer">
            <a href="javascript: logoutForm.submit();" class="btn btn-danger">Yes</a>
            <a href="#" class="btn btn-info" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL LOGOUT -- END-->




</body>
</html>