<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<head>
	<title>Header</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
          	<img th:src="@{/assets/images/httlogo.png}" alt="howToTradeLogo" class ="httlogo"></img>
          </a>
        </li>
        
      </ul>
      <ul class="navbar-nav">
        <!-- ROLE PRO -->
        <li class="nav-item" th:classappend="${module == 'managecourse' ? 'active' : ''}" sec:authorize="hasRole('ROLE_PRO')">
          <a class="nav-link" href="/pro/course/all">Manage Course</a>
        </li>

        <li class="nav-item" th:classappend="${module == 'index/addquiz' ? 'active' : ''}" sec:authorize="hasRole('ROLE_PRO')">
          <a class="nav-link" href="/pro/add-quiz">Add Quiz</a>
        </li>

        <li class="nav-item" th:classappend="${module == 'index/addcourse' ? 'active' : ''}" sec:authorize="hasRole('ROLE_PRO')">
          <a class="nav-link" href="/pro/add-course">Add Course</a>
        </li>
        
        <!-- <li class="nav-item" th:classappend="${module == 'index/addcourse' ? 'active' : ''}" sec:authorize="hasRole('ROLE_PRO')">
          <a class="nav-link" href="/pro/add-question">Add Question</a>
        </li> -->

      	<li class="nav-item" th:classappend="${module == 'forum' ? 'active' : ''}" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
          <a class="nav-link" href="/topic/all">Forum</a>
        </li>
        
        <li class="nav-item" th:classappend="${module == 'course' ? 'active' : ''}" sec:authorize="hasRole('ROLE_USER')">
          <a class="nav-link" href="/course/all">Course</a>
        </li>
        
        <li class="nav-item" th:classappend="${module == 'manageuser' ? 'active' : ''}" sec:authorize="hasRole('ROLE_ADMIN')">
          <a class="nav-link" th:href="@{/admin/manage-member}">Kelola User</a>
        </li>
        
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/user/add">Register</a>
        </li>
        
        <li class="nav-item dropdown my-auto mx-3 text-white" sec:authorize="isAuthenticated()">
          <div class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user nav-item"></i>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/profile" sec:authorize="hasRole('ROLE_USER')">Profile</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
        
      </ul>
    </div>
  </nav>




</body>
</html>