<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css2/all.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<title>Investment Knowledge Center</title>
</head>
<body>
	<div class="d-flex" id="wrapper">
		<div id="overlay" style="display: none;"></div>
	
		<div id="sidebar-wrapper">
			<div class="sidebar-heading">
				<div class="sidebar-logo">
					<img style="width:200px" th:src="@{../assets/images/Logo.png}">
				</div>
				<div class="sidebar-title" sec:authentication="principal.username">Username</div>
				<div class="sidebar-title" th:each="authority : ${#authentication.getAuthorities()}" th:if="${authority.getAuthority().startsWith('ROLE_')}" th:text="${authority.getAuthority().replaceFirst('ROLE_', '')}">Roles</div>
			</div>
		
			<div class="list-menu">
				<a class="list-menu-link" th:href="@{/home}">
					<div class="list-menu-item">
						<span class="list-menu-icon"><i class="fas fa-home fa-lg text-dark-gray"></i></span>
						<span class="list-menu-title">Home</span>
					</div>
				</a>
				
				<div class="list-menu-dropdown" sec:authorize="hasAuthority('ROLE_ADMIN')">
					<div class="list-menu-dropdown-header">
						<span class="list-menu-icon"><i class="fas fa-user fa-lg text-dark-gray"></i></span>
						<span class="list-menu-title">User</span>
						<span class="list-menu-arrow">
							<i class="fas fa-angle-down fa-sm text-dark-gray rotate180"></i>
						</span>
					</div>

					<div class="list-menu-dropdown-item dropdown-open">
						<a class="list-menu-link" th:href="@{/user/add}">
							<div class="list-menu-item list-active">
								<span class="list-menu-dropdown-title">Add User</span>
							</div>
						</a>
						<a class="list-menu-link" th:href="@{/user/view}">
							<div class="list-menu-item">
								<span class="list-menu-dropdown-title">View User List</span>
							</div>
						</a>
					</div>
				</div>
				
				<div class="list-menu-dropdown">
					<div class="list-menu-dropdown-header">
						<span class="list-menu-icon"><i class="fas fa-desktop fa-lg text-dark-gray"></i></span>
						<span class="list-menu-title">Application</span>
						<span class="list-menu-arrow">
							<i class="fas fa-angle-down fa-sm text-dark-gray"></i>
						</span>
					</div>

					<div class="list-menu-dropdown-item">
						<a class="list-menu-link" th:href="@{/application/add}">
							<div class="list-menu-item">
								<span class="list-menu-dropdown-title">Add Application</span>
							</div>
						</a>
						<a class="list-menu-link" th:href="@{/application/view}">
							<div class="list-menu-item">
								<span class="list-menu-dropdown-title">View Application List</span>
							</div>
						</a>
						<a class="list-menu-link" th:href="@{/application/category/add}">
							<div class="list-menu-item">
								<span class="list-menu-dropdown-title">Add Category</span>
							</div>
						</a>
					</div>
				</div>

				<div class="list-menu-dropdown">
					<div class="list-menu-dropdown-header">
						<span class="list-menu-icon"><i class="fas fa-calendar-alt fa-lg text-dark-gray"></i></span>
						<span class="list-menu-title">Scheduler</span>
						<span class="list-menu-arrow">
							<i class="fas fa-angle-down fa-sm text-dark-gray"></i>
						</span>
					</div>

					<div class="list-menu-dropdown-item">
						<a class="list-menu-link" th:href="@{/scheduler/add}">
							<div class="list-menu-item">
								<span class="list-menu-dropdown-title">Add Scheduler</span>
							</div>
						</a>
						<a class="list-menu-link" th:href="@{/scheduler/view}">
							<div class="list-menu-item">
								<span class="list-menu-dropdown-title">View Scheduler List</span>
							</div>
						</a>
					</div>
				</div>

				<div class="list-menu-dropdown">
					<div class="list-menu-dropdown-header">
						<span class="list-menu-icon"><i class="far fa-clipboard fa-lg text-dark-gray"></i></span>
						<span class="list-menu-title">Interface</span>
						<span class="list-menu-arrow">
							<i class="fas fa-angle-down fa-sm text-dark-gray"></i>
						</span>
					</div>

					<div class="list-menu-dropdown-item">
						<a class="list-menu-link" th:href="@{/interface/sign/generate}">
							<div class="list-menu-item">
								<span class="list-menu-dropdown-title">Generate Sign</span>
							</div>
						</a>
						<a class="list-menu-link" th:href="@{/interface/test}">
							<div class="list-menu-item">
								<span class="list-menu-dropdown-title">Test Interface</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div id="page-content-wrapper">
			<nav class="navbar navbar-expand bg-darkblue">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<button class="btn" id="menu-toggle"><i class="fas fa-bars fa-lg text-white"></i></button>
					</li>
					<li class="nav-item ml-2 mt-1">
						<span class="title">Add User</span>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<button class="btn" data-toggle="modal" data-target="#logoutModal">
							<i class="fas fa-sign-out-alt fa-lg text-white"></i>
						</button>
					</li>
				</ul>
			</nav>

			<div class="container-fluid center">
				<div class="card">
					<div class="card-body">
						<form th:action="@{/user/add}" th:object="${appUser}" method="post">
							<div class="row form-group">
								<div class="col-md-3 col-12">
									<label for="username">Username <span class="text-red">*</span></label>	
								</div>
								<div class="col-md-9 col-12">
									<input type="text" onchange="checkUsername()" class="form-control" th:field="*{userName}" id="username" name="username" required="required">	
								</div>
							</div>
		
							<div class="row">
								<div class="col-md-3 col-12"></div>
								<div class="col-md-9 col-12">
									<div class="alert alert-danger" id="usernameAlert" style="display: none;"></div>
								</div>
							</div>
		
							<div class="row form-group">
								<div class="col-md-3 col-12">
									<label for="password">Password <span class="text-red">*</span></label>
								</div>
								<div class="col-md-9 col-12">
									<input type="password" onchange="checkPassword()" class="form-control" th:field="*{userPassword}" id="password" name="password" required="required">
								</div>
							</div>
		
							<div class="row">
								<div class="col-md-3 col-12"></div>
								<div class="col-md-9 col-12">
									<div class="alert alert-danger" id="passwordAlert" style="display: none;"></div>
								</div>
							</div>
		
							<div class="row form-group">
								<div class="col-md-3 col-12">
									<label for="confirmPassword">Confirm Password <span class="text-red">*</span></label>
								</div>
								<div class="col-md-9 col-12">
									<input type="password" onchange="checkPassword()" class="form-control" id="confirmPassword" name="confirmPassword" required="required">
								</div>
							</div>
		
							<div class="row">
								<div class="col-md-3 col-12"></div>
								<div class="col-md-9 col-12">
									<div class="alert alert-danger" id="confirmPasswordAlert" style="display: none;"></div>
								</div>
							</div>
		
							<div class="row form-group">
								<div class="col-md-3 col-12">
									<label for="userRole">User Role <span class="text-red">*</span></label>
								</div>
								<div class="col-md-9 col-12">
									<select class="form-control" th:field="*{userRole}" id="userRole" name="userRole">
										<option value="1">User</option>
										<option value="2">Admin</option>
									</select>
								</div>
							</div>
		
							<div class="text-center">
								<input type="submit" class="btn btn-primary" onclick="return checkData()" value="Submit">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="logoutModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0">
				<div class="modal-header border-0 pb-0">
					<h4>Logout</h4>
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<div class="modal-body border-0 pb-0">
					<p>Are you sure you want to logout?</p>
				</div>
				<form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
				    <input type="submit" value="Logout" />
				</form>
				<div class="modal-footer">
					<a href="javascript: logoutForm.submit();" class="btn btn-danger">Yes</a>
					<a href="#" class="btn btn-info" data-dismiss="modal">No</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" id="successModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0">
				<div class="modal-header border-0 pb-0">
					<h4>Add User</h4>
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<div class="modal-body border-0 pb-0">
					<p>User has been created!</p>
				</div>
				<div class="modal-footer">
					<a th:href="@{/user/add}" class="btn btn-success" data-dismiss="modal">Ok</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" id="failModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0">
				<div class="modal-header border-0 pb-0">
					<h4>Add User</h4>
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<div class="modal-body border-0 pb-0">
					<p>Add user failed!</p>
				</div>
				<div class="modal-footer">
					<a th:href="@{/user/add}" class="btn btn-danger" data-dismiss="modal">Ok</a>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/assets/js/script.js}"></script>

	<script>
		function checkUsername() {
			var username = $("#username").val();
			var result = false;
			if (username.length < 6 || username.length > 20){
				$("#usernameAlert").show();
				$("#usernameAlert").html("Username must be 6-20 characters!");
				return false;
			}
			else {
				$.ajax({
					type: "GET",
					url: "/user/check/" + username,
					async: false,
					success: function(response) {
						$("#usernameAlert").html("Username must be unique!");
						if (response.status == "Success") {
							$("#usernameAlert").show();
							result = false;
						}
						else {
							$("#usernameAlert").hide();
							result = true;
						}
					}
				});
				return result;
			}
		}

		function checkPassword() {
			var pass = $("#password").val();
			var confirmPass = $("#confirmPassword").val();
			
			if (pass.length < 6 || pass.length > 50){
				$("#passwordAlert").html("Password must be at 6-50 characters!");
				$("#passwordAlert").show();
				if (pass != confirmPass) {
					$("#confirmPasswordAlert").html("Invalid confirm password!");
					$("#confirmPasswordAlert").show();
					return false;
				}
				else {
					$("#confirmPasswordAlert").hide();
					return false;
				}
			}
			else {
				$("#passwordAlert").hide();
				if (pass != confirmPass) {
					$("#confirmPasswordAlert").html("Invalid confirm password!");
					$("#confirmPasswordAlert").show();
					return false;
				}
				else {
					$("#confirmPasswordAlert").hide();
					return true;
				}
			}
		}

		function checkData() {
			if (checkUsername() && checkPassword()) {
				return true;
			}
			return false;
		}
	</script>
	
	<script>
		var url = window.location.href;
		if(url.indexOf('?success=true') != -1) {
			$('#successModal').modal('show');
		}
		if(url.indexOf('?success=false') != -1) {
			$('#failModal').modal('show');
		}
	</script>
</body>
</html>