<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>


    <title>Page Error</title>
</head>
<body style="background-color: #eee;">
<div class="container" style="margin-top: 40vh;">
    <h1 class="text-center">OOPS! Please reload this page!</h1>
    <p class="text-center">
        We're sorry, the page you are looking for either does not exist or need to be reload!
        Go back to <a href="/">home page</a>.
    </p>
</div>
</body>
</html>