<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>


    <title>Page Error</title>
</head>
<body style="background-color: #eee;">
<div class="container" style="margin-top: 40vh;">
    <h1 class="text-center">OOPS! Muat ulang halaman ini!</h1>
    <p class="text-center">
        Maaf, halaman yang Anda tuju tidak ada atau perlu di muat ulang!
        Kembali ke <a href="/">halaman awal</a>.
    </p>
</div>
</body>
</html>